body,html{
    height: 100%;
  }
body{
    background-image: url("bgimgblur.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  .container-fluid{

    height: 100%;
    }
  
  .display-3{
    color: white;
  }
  #citlinkbtn{
    border-style: none;
    background-color: transparent;
    color: black;
  }
  #myown{
  background-color: #343a40;
  }
  a.h3{
    color: white;
  }
  p{
    color:white;
  }
  .uimg{
    border-radius: 50%;
    justify-content:center;
  }
  label{
    color:white;
  }
  /* .row.h-100.justify-content-center{
  background: #000;
  height: 100%;
  } */
  /* #temp1{
    color: rgb(255, 0, 0);
  
  } */
  #temp1{
    height:100%
  }
  #userdet{
      display: grid;
      grid-template-columns: 1fr;
    padding: 5px;
    justify-items: center;
  }
  #div1{
      padding: 5%;
  }
  .table{
      background-color: white;
  }
  #imgdiv{
      justify-content: center;
  }